# see ~/usr/bin/git.initialization
# since this file is in .gitignore, link it to the platform specific file
#   win: ln -s .gitconfig_pc  .gitconfig
#   mac: ln -s .gitconfig_mac .gitconfig

[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[user]
	name = Glenn Sisson
	#email = glenn.sisson@gmail.com
	#email = glennaws@amazon.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	log1 = log --graph --decorate --oneline --abbrev-commit --all
	logg = log --pretty=format:'%C(auto)%h %ad | %d%s [%an]' --graph --date=short
	undo-commit = reset --soft HEAD^
[core]
	excludesfile = ~/.gitignore-global
	mergeoptions = --no-edit
	autocrlf = input
[hub]
	protocol = https
[push]
	default = simple
[merge]
	summary = true
	tool = bc3
[color] #
# colors: normal, black, red, green, yellow, blue, magenta, cyan, or white
# other: ul (underline), bold
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[color "diff"]
	plain = normal
#	meta = bold
	meta = ul
	frag = cyan
#	old = red
	old = red bold
#	new = green
	new = green bold
	commit = yellow
	whitespace = normal red
[color "branch"]
#	current = green
	current = green bold
	local = normal
#	remote = red
	remote = red bold
	plain = normal
[color "status"]
	header = normal
#	added = red
	added = red bold
#	updated = green
	updated = green bold
#	changed = red
	changed = red bold
#	untracked = red
	untracked = cyan bold
#	nobranch = red
	nobranch = red bold
[color "grep"]
	match = normal
[color "interactive"]
	prompt = normal
	header = normal
	help = normal
	error = normal
#[http]
#	proxy = http://web-proxy:8088
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[diff]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
