# Windows Home Dirs ----------------
3D Objects/
AppData/
Application Data
Atom Crashes/
Contacts/
Cookies
Desktop/
Documents/
Downloads/
Favorites/
Games/
Google Drive/
Intel/
IntelGraphicsProfiles/
Local Settings
Music/
My Documents
NetHood
NTUSER.dat*
NTUSER.ini*
Pictures/
PrintHood
Recent
Saved Games/
Searches/
SendTo
Start Menu
Templates
Videos/

# Mac Home Dirs ----------------
Applications/
Library/
Movies/
Public/

# Tool Created Dirs/Files ----------
.(users gsisson)
.*history
.CFUserTextEncoding
.MakeMKV
.android/
.anyconnect
.atom/
.aws-sam/
.awsp
.cisco/
.config/
.docker/
.dropbox/
.eclipse/
.electron/
.gem
.isengardcli-cert.pem
.lesshst
.local/
.midway/
.npm/
.toolbox/
.viminfo
.vscode
.zcompdump*
OneDrive/
com.googlecode.iterm2.plist
hsperfdata_gsisson/
isengard/

# Ruby -------------------
bin/ # Ruby Created Bins
bin/

# Emacs Created ----------
.emacs.desktop*
.recentf
dot.emacs_mac
dot.emacs_mac.LINK
dot.emacs_pc
dot.emacs_pc.LINK

###############################

# My Symlinks ----------------
Dropbox
lisp

# My Git Sub-dirs ------------
/.oh-my-zsh/
/usr/bin/
/usr/bin0/
/usr/local/
/usr/ruby/
/usr/src/

# Other -------------------
.ssh/
.aws/
src/

