OneDrive/

# Windows Home Dirs ----------------
3D Objects/
AppData/
Application Data
Atom Crashes/
Contacts/
Cookies
Desktop/
Documents/
Downloads/
Favorites/
Games/
Google Drive/
Intel/
IntelGraphicsProfiles/
Local Settings
Music/
My Documents
NetHood
NTUSER.dat*
NTUSER.ini*
Pictures/
PrintHood
Recent
Saved Games/
Searches/
SendTo
Start Menu
Templates
Videos/

# Mac Home Dirs ----------------
Applications/
Library/
Movies/
Public/
Amazon WorkDocs Drive/

# Tool Created Dirs/Files ----------
.(users gsisson)
.*history
.CFUserTextEncoding
.MakeMKV
.Xauthority
.anaconda/
.android/
.anyconnect
.atom/
.aws-sam/
.awsp
.bash_sessions/
.bundle/
.cisco/
.condarc
.config/
.cups/
.docker/
.dropbox/
.eclipse/
.electron/
.emacs.d/
.gem
.gnupg/
.gradle/
.gsutil/
.ipynb_checkpoints/
.ipython/
.isengardcli-cert.pem
.jupyter/
.kube/
.lesshst
.local/
.m2/
.midway/
.mono/
.node-gyp/
.npm/
.oracle_jre_usage/
.packer.d/
.plugman/
.rbenv/
.rest-client/
.rnd
.ruby-version
.runtimes/
.terraform.d/
.terraformrc
.toolbox/
.usage-stats/
.viminfo
.zcompdump*
VSCode Crashes/
com.googlecode.iterm2.plist
find.txt*
hsperfdata_gsisson/
isengard/

# Ruby -------------------
bin/ # Ruby Created Bins
bin/

# Emacs Created ----------
.emacs.desktop*
.recentf
dot.emacs_mac
dot.emacs_mac.LINK
dot.emacs_pc
dot.emacs_pc.LINK

###############################

# My Symlinks ----------------
Dropbox
lisp

# My Git Sub-dirs ------------
/.oh-my-zsh/
/.vim
/usr/bin/
/usr/bin0/
/usr/local/
/usr/ruby/
/usr/src/

# Other -------------------
.ssh/
.aws/
src/
.io.ganeshrvel/
.pyenv/
.pylint.d/
.hgignore_global
.iterm2/
.iterm2_shell_integration.zsh
