--colour
--format documentation color

# for individual spec_helper.rb files:
#RSpec.configure do |config|
#  config.tty = true
#  config.color = true
#  config.failure_color = :red
#  config.success_color = :green
#  config.pending_color = :yellow
#  config.fixed_color   = :blue
#  config.detail_color  = :cyan
#end
